*{
margin: 0px;
padding: 0px;
}
.main-container{
    display: flex;
    justify-content: space-around;
    /* margin: 10px; */
}

body{
    background-color: black;
    color: white;
}
.home{
    margin: 10px;
    gap: 5px;
}
.logo img{
    width: 60px;
    height: 60px;
}
.home ul li{
    display: flex;
    gap: 10px;
}
.home ul li img{
    height: 15px;
    width: 15px;
    list-style: none;
}

.left{
    border: 2px solid red;
    width: 30vw;
    background-color: rgb(17, 17, 17);
    border-radius: 8px;
    position: relative;
    top: 10px;
}

.right{
    border: 2px solid green;
    width: 67vw;
    position: relative;
    top: 10px;
     border-radius: 8px;
}
.flex{
    margin: 8px;
}
.library{
    border : 2px solid beige;
    width : 30vw;
    height: 60vh;
    position: relative;
    top: 20px;
    left: 7px;
    border-radius: 8px;
    

}

.filter{
    filter: invert(1);
    height: 30px;
    width: 30px;
}

.library_logo{
    position: relative;
    top: 15px;
    left: 20px;
    display: flex;
    align-items: center;
}
.library_logo h3{

    padding-left : 10px;
}
.nav{
    border-radius: 5px;
    height: 60px;
    width: 100%;
    background-color: rgb(71, 57, 57);
    display :flex;
    justify-content: space-between;
    align-items: center;

}
.rightnav{
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    width: 210px;
    align-items: center;

}
.btnl {
    height: 45px;
     font-size: 15PX;
    width: 120px;
    padding: 3%;

    border-radius: 30PX;
    color: rgb(24, 18, 18);
    background-color:white;
    transition: ease-in-out 1s;
}
.btnl:hover{
     padding: 4%;
}
.btns{ 
    height: 45px;
     font-size: 15PX;
    width: 120px;
    padding: 3%;
      border-color: transparent;
    border-radius: 30PX;
    color: rgb(247, 242, 242);
    background-color: transparent;
   font-weight: 500;
}